table {
  text-align: right;
  border-collapse: collapse;
} 

table td {
  border: 1px solid;
  padding: 10px;
}

img {
   border-radius: 25px;
   width: 100%;
   padding: 1%;
   max-width: 150px;
   min-width: 50px;
 }
